/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    
    background-color: #0a0a0a;
    background-image: url(./img/avion\ despegando.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60vh;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 1rem;
}
header h1{
    margin-top: 30px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2{
    margin-top: 1rem;
}



/* Estilos de las tarjetas de productos */
.producto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #80e5cc;
    border: 2px solid #999898;
    padding: 20px 10px;
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(68, 68, 68, 0.692);
    width: 100%;
    gap: 0.5rem;
}
.productoContenedor{
    width: 11rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.producto img {
    max-width: 100%;
}


.precio {
    font-weight: bold;
    color: #f00;
    margin: 10px 0;
}

button {
    background-color: #1c89ff;
    color: #fff;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.volverArriba{
    background-color: #2b9710;
}
.volverArriba a{
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
.comprar{
    border-radius: 10px;
}
/*..............................DESDE ACA HABILITO LOS BOTONES DE VENDIDO................*/

/* #juego-comedor{
    pointer-events: none;
    position: relative;
}
#juego-comedor::after{
    content: "VENDIDO";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #baihut{
    pointer-events: none;
    position: relative;
}
#baihut::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #placard-melamina{
    pointer-events: none;
    position: relative;
}
#placard-melamina::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #chifonier-mela{
    pointer-events: none;
    position: relative;
}
#chifonier-mela::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #zapatero-melamina{
    pointer-events: none;
    position: relative;
}
#zapatero-melamina::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #mesas-de-luz{
    pointer-events: none;
    position: relative;
}
#mesas-de-luz::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #baulera-infantil{
    pointer-events: none;
    position: relative;
}
#baulera-infantil::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #cama-marinera{
    pointer-events: none;
    position: relative;
}
#cama-marinera::after{
     content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #camita-infantil{
    pointer-events: none;
    position: relative;
}
#camita-infantil::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #mesa-luz-infantil{
    pointer-events: none;
    position: relative;
}
#mesa-luz-infantil::after{
    content: "VENDIDO";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #repisa-infantil{
    pointer-events: none;
    position: relative;
}
#repisa-infantil::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #contenedor-vertical{
    pointer-events: none;
    position: relative;
}
#contenedor-vertical::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #biblioteca-madera{
    pointer-events: none;
    position: relative;
}
#biblioteca-madera::after{
    content: "VENDIDO";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #sillon-tres-cuerpos{
    pointer-events: none;
    position: relative;
}
#sillon-tres-cuerpos::after{
    content: "VENDIDO";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/*..................................EMPIEZAN LAS HERRAMIENTAS.........................*/

/* #taladro-black{
    pointer-events: none;
    position: relative;
}
#taladro-black::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #mechas-bremer{
    pointer-events: none;
    position: relative;
}
#mechas-bremer::after{
    content: "VENDIDO";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #hidrolavadora-black{
    pointer-events: none;
    position: relative;
}
#hidrolavadora-black::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #moladora-black{
    pointer-events: none;
    position: relative;
}
#moladora-black::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #cortadora-de-pasto{
    pointer-events: none;
    position: relative;
}
#cortadora-de-pasto::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #escalera-aluminio{
    pointer-events: none;
    position: relative;
}
#escalera-aluminio::after{
    content: "VENDIDO";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #atornillador-kroner{
    pointer-events: none;
    position: relative;
}
#atornillador-kroner::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #caladora-klatter{
    pointer-events: none;
    position: relative;
}
#caladora-klatter::after{
    content: "VENDIDO";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #lijadora-barovo{
    pointer-events: none;
    position: relative;
}
#lijadora-barovo::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/*............................ ACA EMPIEZAN LOS ELECTRODOMESTICOS.....................*/

/* #freezer-gafa{
    pointer-events: none;
    position: relative;
}
#freezer-gafa::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #heladera-patrick{
    pointer-events: none;
    position: relative;
}
#heladera-patrick::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #microondas-noblex{
    pointer-events: none;
    position: relative;
}
#microondas-noblex::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #aspiradora-philco{
    pointer-events: none;
    position: relative;
}
#aspiradora-philco::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #difusor-led{
    pointer-events: none;
    position: relative;
}
#difusor-led::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #vaporizador-silfab{
    pointer-events: none;
    position: relative;
}
#vaporizador-silfab::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #secador-phillip{
    pointer-events: none;
    position: relative;
}
#secador-phillip::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #nebulizador-silfab{
    pointer-events: none;
    position: relative;
}
#nebulizador-silfab::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #lustro-aspiradora{
    pointer-events: none;
    position: relative;
}
#lustro-aspiradora::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #cafetera-dolce-gusto{
    pointer-events: none;
    position: relative;
}
#cafetera-dolce-gusto::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tostadora-phillips{
    pointer-events: none;
    position: relative;
}
#tostadora-phillips::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #vaporera-liliana{
    pointer-events: none;
    position: relative;
}
#vaporera-liliana::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tostadora-phillips{
    pointer-events: none;
    position: relative;
}
#tostadora-phillips::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #cafetera-liliana{
    pointer-events: none;
    position: relative;
}
#cafetera-liliana::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* ...................ACA EMPIEZA DIVERSION Y OTROS.....................*/

/* #consola-retro{
    pointer-events: none;
    position: relative;
}
#consola-retro::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tele-42-bgh{
    pointer-events: none;
    position: relative;
}
#tele-42-bgh::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tele-32-phillip{
    pointer-events: none;
    position: relative;
}
#tele-32-phillip::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tele-24{
    pointer-events: none;
    position: relative;
}
#tele-24::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #proyector-wambo{
    pointer-events: none;
    position: relative;
}
#proyector-wambo::after{
    content: "VENDIDO";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #pile-lona{
    pointer-events: none;
    position: relative;
}
#pile-lona::after{
    content: "VENDIDO";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #play-3-kit-move{
    pointer-events: none;
    position: relative;
}
#play-3-kit-move::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #extensor-wifi-tplink{
    pointer-events: none;
    position: relative;
}
#extensor-wifi-tplink::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #bici-rodado{
    pointer-events: none;
    position: relative;
}
#bici-rodado::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #set-libros{
    pointer-events: none;
    position: relative;
}
#set-libros::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/*........................ACA EMPIEZAN LOS VARIOS.....................*/

/* #gazebo-3x3{
    pointer-events: none;
    position: relative;
}
#gazebo-3x3::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #mesa-carro-playa{
    pointer-events: none;
    position: relative;
}
#mesa-carro-playa::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #membrana-asfaltica{
    pointer-events: none;
    position: relative;
}
#membrana-asfaltica::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #metegol-aluminio{
    pointer-events: none;
    position: relative;
}
#metegol-aluminio::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #disco-de-arado{
    pointer-events: none;
    position: relative;
}
#disco-de-arado::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #dispenser-frio-calor{
    pointer-events: none;
    position: relative;
}
#dispenser-frio-calor::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #reflector-50w{
    pointer-events: none;
    position: relative;
}
#reflector-50w::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #cochecito-bebe{
    pointer-events: none;
    position: relative;
}
#cochecito-bebe::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #patines-kossok{
    pointer-events: none;
    position: relative;
}
#patines-kossok::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #patas-de-rana{
    pointer-events: none;
    position: relative;
}
#patas-de-rana::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #paraguas-varios{
    pointer-events: none;
    position: relative;
}
#paraguas-varios::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #sillita-auto{
    pointer-events: none;
    position: relative;
}
#sillita-auto::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #disco-500g{
    pointer-events: none;
    position: relative;
}
#disco-500g::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #gato-hidraulico{
    pointer-events: none;
    position: relative;
}
#gato-hidraulico::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #tender-plegable{
    pointer-events: none;
    position: relative;
}
#tender-plegable::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #juego-prensa-asador{
    pointer-events: none;
    position: relative;
}
#juego-prensa-asador::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */

/* #plancheta{
    pointer-events: none;
    position: relative;
}
#plancheta::after{
    content: "VENDIDO";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 36px;
} */
/* @media screen and (max-width: 425px) {
  .producto img:hover{
    transform: scale(2.5);
    height: 80vh;
    align-items: center;
    justify-content: center;
    
}
} */


@media (max-width: 576px) {
    .productoContenedor {
        width: 155px;
        padding: 1rem;
        border: 1px solid;
        border-radius: 0.5rem;
        /* background-color: #f4f4f4; */
        display: flex;
        flex-direction: column;
        align-content: stretch;
        flex-wrap: nowrap;
        background-color: rgb(199, 205, 211);
    }
   
}
